.page-admin-structure-entity-teaser #entity-teaser-area-block {
  margin-top: 15px;
  margin-bottom: 30px;
}

.page-admin-structure-entity-teaser #entity-teaser-area-set {
  margin-top: 30px;
}


#entity-teaser-block-config-form .container {
  float: left;

  width: 50%;
}
